/* look */
article img {
    /* padding: 2px; */
    /* box-shadow: 1px 1px 5px 2px rgba(19, 19, 19, 0.26); */
    border: 1px solid rgba(19, 19, 19, 0.26);
}

h1, h2 {
    font-family: "Gill Sans";
}

article .content {
    line-height: 1.8em;
    font-size: 2.5lvh;
    font-family: "American Typewriter";

    h2 {
        font-family: "Gill Sans";
        font-size: 1.8em;
        line-height: 1.3em;
        margin: 0 0 0.5em 0;
    }
    
    header small {
        font-weight: lighter;
    }
    
    time {
        font-size: 0.7em;
    }
}

article .description {
    color: rgb(100, 100, 100);
    font-family: "American Typewriter";
    line-height: 1.8em;
}
@media (prefers-color-scheme: dark) {
    article .description {
        color: rgb(160, 160, 160);
    }
}