/* basic layout */
html.verticalsnapping {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    scroll-snap-align: center;
    /* height: 100vh; */
}
body {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

@media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background: #171616;
    }
}

header.page-header {
    scroll-snap-align: start;
    /* height: 20svh; */
    align-content: end;
    /* padding: 3lvh 8vw; */
    margin: 2em;

    h1 {
        padding: 0;
        margin: 0;
        line-height: 0.7em;
    }
}

footer.page-footer {
    scroll-snap-align: start;
    /* height: 20lvh; */
    padding: 3lvh 8vw;
}

section.gallery {
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
    margin-bottom: 2em;
    scroll-snap-align: center;
    height: 100vh;

    article {
        scroll-snap-align: center;
        display: flex;
        align-self: center;
    }
    
    article img {
        max-width: 96vw;
        max-height: 96svh;
        width: auto;
        margin: 2svh 2vw;
        object-fit: contain;
        box-sizing: border-box;
    }

    .content {
        width: 80vw;
        max-width: 30em;
        max-height: 96lvh;
        padding: 3lvh 8vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        box-sizing: border-box;
    }
    
}

section.index {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    height: 100vh;
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    gap: 8em;

    article {
        scroll-snap-align: center;
        display: flex;
        align-self: center;
        flex-direction: column;
        width: 100%;
    }

    article .thumblink {
        align-self: center;
    }

    article .titlelink {
        text-decoration: none;
        color: inherit;
    }

    article .creationdate {
        align-self: end;
    }

    article .textwidth {
        width: 100%;
        max-width: 800px;
        align-self: center;
    }

    article img {
        max-width: 100%;
        /* max-height: 100%; */
        max-height: 80vh;
        width: auto;
        margin: 2svh 0;
        object-fit: contain;
        box-sizing: border-box;
    }

    .content {
        /* width: 80vw; */
        max-width: 30em;
        max-height: 96lvh;
        padding: 3lvh 8vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        box-sizing: border-box;
    }
    
    .separator {
        text-align: center;
        color: #363636;
    }
}

/* full screen button */
#fs-button {
    position: fixed;
    top: 10px;
    left: 10px;
    opacity: 0.5;
}
:-webkit-full-screen {
    #fs-button {
        display: none;
    }
}
/* disable button on ios safari, because it doesn't work */
@supports (-webkit-touch-callout: none) {
    #fs-button {
        display: none;
    }
}

/* hide scrollbars */
section::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
    width: 0;
    height: 0;
}
::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}